* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  color: #a6a6d8;
  font-size: 16px;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

h2 {
  margin: 30px 0px 35px 0px;
  text-align: center;
  color: #545454;
  font-weight: 700;
  font-size: 24px;
}

label {
  display: block;
}

textarea {
  width: 100%;
  height: 85px;
}

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.profile {
  width: 950px;
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px;
}

.profile-form__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEEEFF;
  border: 1px solid #A9A9A9;
  width: 285px;
  height: 365px;
  border-radius: 20px;
}

.field {
  margin-bottom: 15px;
}

.field__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  color: #A6A6D8;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #858585;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.group-filed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}